body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgb(20, 140, 176);
    color: white;
}

.heading {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.wrapper {
    height: 20px;
    width: 500px;
    background-color: rgb(236, 233, 233);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    padding: 6px 0;
}

.progress-number {
    font-weight: bold;
    z-index: 100;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 18px;
}

.progress-color {
    background-color: rgb(235, 66, 66);
    height: 100%;
    position: absolute;
    top: 0;
}